<!DOCTYPE html>
<html>
<head>
	<title>附加导航插件</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
	<script  src="__STATIC__/bootstrap/js/jquery-3.3.1.js"></script>
	<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
	<style type="text/css">
		.nav-pills{
			width: 150px;
		}
		.nav-pills.affix{
			buttom: 0;
		}
	</style>
</head>
<body style="background-color: #ccc;" data-spy="scroll" data-terget="#myScroll">
	<div class="container">
		<div class="jumbotron" style="height: 150px;">
			<h3>Bootstrap Affix</h3>
		</div>
		<div class="row">
			<div class="col-xs-3" id="myScroll">
				<!-- data-spy="affix" data-offset-top="150" -->
				<ul id="ul-pills" class="nav nav-pills nav-stacked" >
					<li class="active"><a href="#section-1">第一部分</a></li>
					<li><a href="#section-2">第二部分</a></li>
					<li><a href="#section-3">第三部分</a></li>
					<li><a href="#section-4">第四部分</a></li>
					<li><a href="#section-5">第五部分</a></li>
				</ul>
			</div>
			<div class="col-xs-9">
				<h2 id="section-1">第一部分</h2>
				<p style="line-height: 2;">全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。</p>
				<h2 id="section-2">第二部分</h2>
				<p style="line-height: 2;">全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。</p>
				<h2 id="section-3">第三部分</h2>
				<p style="line-height: 2;">全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。</p>
				<h2 id="section-4">第四部分</h2>
				<p style="line-height: 2;">全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。</p>
				<h2 id="section-5">第五部分</h2>
				<p style="line-height: 2;">全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。全球人口不断增长，对交通的需求亦是如此。这使得全球汽车数量将从当今的大约9亿辆增加到2050年的24亿辆。显然，只有在零排放车辆大幅增加的情况下全球温室气体减排目标才能实现——不仅仅是在路上，还包括空中和海上。</p>
			</div>
		</div>
		


	</div>
</body>
<script type="text/javascript">
	$('#ul-pills').affix({
		offset:{
			top:0,
		}
	})
</script>
</html>