<!DOCTYPE html>
<html>
<head>
	<title>form</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
	<script  src="__STATIC__/bootstrap/js/jquery-3.3.1.js"></script>
	<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="padding: 50px;background-color: #ccc;">
	<div class="container" style="padding: 50px;background-color: #fff;">
		<div class="row">
				<div class="col-sx-6 col-md-3 col-sm-4">
					<div class="thumbnail">
						<img src="__STATIC__/img/wency.jpg">
						<div class="caption">
						<h3>图片标题</h3>
						<p>图片详细内容</p>
						<p class="btn btn-default">进入</p>
						</div>
					</div>
				</div>
				<div class="col-sx-6 col-md-3 col-sm-4">
					<div class="thumbnail">
						<img src="__STATIC__/img/wency.jpg">
						<div class="caption">
						<h3>图片标题</h3>
						<p>图片详细内容</p>
						<p class="btn btn-default">进入</p>
						</div>
					</div>
				</div>
				<div class="col-sx-6 col-md-3 col-sm-4">
					<div class="thumbnail">
						<img src="__STATIC__/img/wency.jpg">
						<div class="caption">
						<h3>图片标题</h3>
						<p>图片详细内容</p>
						<p class="btn btn-default">进入</p>
						</div>
					</div>
				</div>
				<div class="col-sx-6 col-md-3 col-sm-4">
					<div class="thumbnail">
						<img src="__STATIC__/img/wency.jpg">
						<div class="caption">
						<h3>图片标题</h3>
						<p>图片详细内容</p>
						<p class="btn btn-default">进入</p>
						</div>
					</div>
				</div>
			</div>
			<!-- 警告框组件 -->
			<div class="alert alert-info">爱上对方过后就哭了,请下载 <a href="" class="alert-link">最新版本</a>
<button class="close" data-dismiss="alert"><span>&times;</span></button>
			</div>
	</div>
</body>
</html>