<!DOCTYPE html>
<html>
<head>
	<title>进度条媒体对象和well组件</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
	<script  src="__STATIC__/bootstrap/js/jquery-3.3.1.js"></script>
	<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="padding: 50px;background-color: #ccc;">
	<div class="container" style="padding: 50px;background-color: #fff;">
		<!-- <div class="well well-lg">PHP</div> -->
		<!-- 进度条 -->
		<div class="progress">
			<div class="progress-bar" style="width: 60%">60%</div>
			
		</div>
		<div class="progress">
			<div class="progress-bar progress-bar-success" style="min-width:30px;width: 0%">0%</div>
		</div>
		<div class="progress">
			<div class="progress-bar progress-bar-success progress-bar-striped" style="min-width:30px;width: 60%">60%</div>
		</div>
		<div class="progress">
			<div class="progress-bar progress-bar-success progress-bar-striped active" style="min-width:30px;width: 60%">60%</div>
		</div>
		<!-- 堆叠效果 -->
		<div class="progress">
		  <div class="progress-bar progress-bar-success" style="width: 35%">
		    <span class="sr-only">35% Complete (success)</span>
		  </div>
		  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
		    <span class="sr-only">20% Complete (warning)</span>
		  </div>
		  <div class="progress-bar progress-bar-danger" 
		  style="width: 10%"><span class="sr-only">10% Complete (danger)</span>
		  </div>
		</div>


		<!-- 媒体 -->
		<div class="row">
		<div class="media col-md-8">
			<div class="media-left media-middle">
				<img src="__STATIC__/img/wency.jpg" width="100px" class="media-object">
			</div>
			<div class="media-body">
				<h4 class="media-heading">内容标题</h4>
				<p>此外，为满足考生多元志愿选择，教育部近日印发《教育部办公厅关于做好硕士研究生招生调剂工作的通知》，同时，对“全国硕士生招生调剂服务系统”进行了升级优化。其中，为缩短考生调剂志愿锁定时间，由原来的48小时改为各招生单位自主设定，最长不超过36小时，减少考生等待时间。</p>
			</div>
		</div>
		</div>
		<div class="row">
		<div class="media col-md-8">
			
			<div class="media-body">
				<h4 class="media-heading">内容标题</h4>
				<p>此外，为满足考生多元志愿选择，教育部近日印发《教育部办公厅关于做好硕士研究生招生调剂工作的通知》，同时，对“全国硕士生招生调剂服务系统”进行了升级优化。其中，为缩短考生调剂志愿锁定时间，由原来的48小时改为各招生单位自主设定，最长不超过36小时，减少考生等待时间。</p>
			</div>
			<div class="media-right media-middle">
				<img src="__STATIC__/img/wency.jpg" width="100px" class="media-object">
			</div>
		</div>
		</div>
		<!-- 媒体对象列表 -->
		<ul class="media-list">
			<li class="media ">
			<div class="media-left ">
				<img src="__STATIC__/img/wency.jpg" width="100px" class="media-object">
			</div>
			<div class="media-body">
				<h4 class="media-heading">内容标题</h4>
				<p>此外，为满足考生多元志愿选择，教育部近日印发《教育部办公厅关于做好硕士研究生招生调剂工作的通知》，同时，对“全国硕士生招生调剂服务系统”进行了升级优化。其中，为缩短考生调剂志愿锁定时间，由原来的48小时改为各招生单位自主设定，最长不超过36小时，减少考生等待时间。</p>
				<div class="media ">
			<div class="media-left ">
				<img src="__STATIC__/img/wency.jpg" width="100px" class="media-object">
			</div>
			<div class="media-body">
				<h4 class="media-heading">内容标题</h4>
				<p>此外，为满足考生多元志愿选择，教育部近日印发《教育部办公厅关于做好硕士研究生招生调剂工作的通知》，同时，对“全国硕士生招生调剂服务系统”进行了升级优化。其中，为缩短考生调剂志愿锁定时间，由原来的48小时改为各招生单位自主设定，最长不超过36小时，减少考生等待时间。</p>
			</div>
			</div>
			</div>
			</li>
			<li class="media ">
			<div class="media-left ">
				<img src="__STATIC__/img/wency.jpg" width="100px" class="media-object">
			</div>
			<div class="media-body">
				<h4 class="media-heading">内容标题</h4>
				<p>此外，为满足考生多元志愿选择，教育部近日印发《教育部办公厅关于做好硕士研究生招生调剂工作的通知》，同时，对“全国硕士生招生调剂服务系统”进行了升级优化。其中，为缩短考生调剂志愿锁定时间，由原来的48小时改为各招生单位自主设定，最长不超过36小时，减少考生等待时间。</p>
			</div>
			</li>
		</ul>
	</div>
</body>
</html>