<!DOCTYPE html>
<html>
<head>
	<title>巨幕页头缩略图和警告框组件</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
	<script  src="__STATIC__/bootstrap/js/jquery-3.3.1.js"></script>
	<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- <div class="container">
		<div class="jumbotron">
			<h3>我是网站标题</h3>
			<p>我是网站详细简介</p>
			<p><a href="" class="btn btn-default">快速进入</a></p>
		</div>
	</div> -->
	<!-- 巨幕页头 -->
	<div class="jumbotron">
		<div class="container">
			<h3>我是网站标题</h3>
			<p>我是网站详细简介</p>
			<p><a href="" class="btn btn-default">快速进入</a></p>
			
		</div>
	</div>
</body>
</html>