<!DOCTYPE html>
<html>
<head>
	<title>form</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
	<script  src="__STATIC__/bootstrap/js/jquery-3.3.1.js"></script>
	<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="padding: 50px;background-color: #ccc;">
	<div class="container" style="padding: 50px;background-color: #fff;">
		<div class="embed-responsive embed-responsive-16by9">
			<embed width="100%" height="100%" src="#">视pin</embed>
		</div>
	</div>
</body>
</html>