@charset "utf-8";
body {
    color: #666;
    font-family: "Helvetica Neue", Helvetica, Arial, "Mircrosoft Yahei UI", "Mircrosoft Yahei", SimHei, simsun, sans-serif;
}
.logo {
    padding: 0;
}
#myCarousel {
    margin: 50px 0 0 0;
    /*margin-top: 50px;*/
}
#navbar-collapse ul {
    margin-top: 0;
}
.item img {
    /*width: 1170px;*/
    /*height: */
}
.carousel-inner img {
    margin: 0 auto;
}
/*.carousel-control{
	font-size: 100px;
	line-height: 585px;
}*/

.tab-h2 {
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #0059b2;
}
.tab-p {
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    color: #999;
    margin: 20px 0 40px 0;
}
.tab1 {
    margin: 30px 0;
    color: #666;
}
.media-img {
    width: 80px;
}
.tab1 .text-muted {
    color: #999;
    text-decoration: line-through;
}
.tab1 .media-heading {
    margin: 5px 0 20px 0;
}
.tab1 .col {
    padding: 20px;
    /*border: 1px solid red;*/
}
.tab2 {
    /*border: 1px solid red;*/
    background-color: #eee;
    padding: 60px 20px;
    text-align: center;
}
.tab3 {
    padding: 40px 0;
    text-align: center;
}
.tab2 img {
    width: 60%;
}
.tab3 img {
    width: 60%;
}
.text h3 {
    font-size: 20px;
}
.text p {
    font-size: 14px;
}
#footer {
    background-color: #666;
    border: 1px solid #ccc;
    padding: 20px;
    color: #eee;
}
#information {
    background-color: #eee;
    padding: 40px 0;
}
#footer p {
    text-align: center;
}
.jumbotron {
    background-image: url(../img/bg.jpg);
    margin: 50px 0 0 0;
    color: #ccc;
}
.jumbotron h1 {
    font-size: 26px;
    padding: 0 0 0 20px;
}
.jumbotron h4 {
    font-size: 15px;
    padding: 0 0 0 20px;
}
.info-content {
    background-color: #fff;
    margin: 0 0 20px 0;
    /*padding: 10px 0px ;*/
    box-shadow: 2px 2px 3px #ccc;
}
.info-content img {
    margin: 12px 0;
}
.info-content h4 {
    color: #333;
    padding: 3px 0 0 0;
    font-size: 14px;
}
.info-content p {
    line-height: 1.6;
}
.info-right{
	background-color: #fff;
	box-shadow: 2px 2px 3px #ccc;
}
.info-right blockquote{
	margin: 0;
	padding: 0;
}
.info-right h2{
	font-size: 20px;
	color: #333;
	padding: 5px;
}
.info-right h4{
	color: #333;
	font-size: 16px;
	padding: 3px 0 0 0;
	line-height: 1.6
}

#example{
	padding: 40px 0;
	background-color: #eee;
}
#example .caption{
	text-align: center;
}
#example h4{
	color: #666;
}
#example p{
	color: #666;
	line-height: 1.6;
}
#example img{
	width: 320px;
	height: 160px;
}
/*没有小于768px,是因为Bootstrap以移动端优先*/

/*小屏幕(平板,大小等于768px)*/

@media (min-width: 768px) {
    .tab-h2 {
        font-size: 26px;
    }
    .tab-p {
        font-size: 16px;
    }
    .text h3 {
        font-size: 22px;
    }
    .text p {
        font-size: 15px;
    }
    .tab2-text {
        float: left;
    }
    .tab2-img {
        float: right;
    }
    .jumbotron h1 {
        font-size: 30px;
    }
    .jumbotron h4 {
        font-size: 16px;
    }
    .info-content h4 {
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
/*中等屏幕(平板,大小等于992px)*/

@media (min-width: 992px) {
    .tab-h2 {
        font-size: 28px;
    }
    .tab-p {
        font-size: 17px;
    }
    .text h3 {
        font-size: 24px;
    }
    .text p {
        font-size: 17px;
    }
    .jumbotron h1 {
        font-size: 33px;
    }
    .jumbotron h4 {
        font-size: 17px;
    }
    .info-content h4 {
        font-size: 18px;
    }
}
/*大屏幕(大桌面显示器,大小等于1200px)*/

@media (min-width: 1199px)and(max-width: 1360px) {
    .tab-h2 {
        font-size: 30px;
    }
    .tab-p {
        font-size: 18px;
    }
    .text h3 {
        font-size: 26px;
    }
    .text p {
        font-size: 18px;
    }
    .jumbotron h1 {
        font-size: 36px;
    }
    .jumbotron h4 {
        font-size: 18px;
    }
    .info-content h4 {
        font-size: 20px;
    }
}