<!DOCTYPE html>
<html>
<head>
	<title>form</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
	<script  src="__STATIC__/bootstrap/js/jquery-3.3.1.js"></script>
	<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #ccc;">
	<!-- 导航条效果 -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<!-- 导航栏头部信息 -->
		<div class="container">
			<div class="navbar-header ">
				<!-- 品牌或者logo -->
				<a href="" class="navbar-brand">wency</a>
				<p class="navbar-text">欢迎光临！</p>
			</div>
			<!-- 导航条主链接 -->
			<div class="collapse navbar-collapse ">
				<ul class="nav navbar-nav navbar-left" >
					<li class="active"><a href="">起步</a></li>
					<li><a href="">CSS全局样式</a></li>
					<li><a href="">组件</a></li>
					<li><a href="">插件</a></li>
					<li><a href="">网站案例</a></li>
				</ul>
				<form class="navbar-form navbar-left">
					<div class="form-group">
					<input type="text" class="form-control" placeholder="Search"></div>
					<button type="button" class="btn btn-default ">搜索</button>
				</form>
			</div>
		</div>
		
	</nav>
	


	<div class="container" style="padding: 50px;background-color: #fff;">
		<!-- 图片缩略图效果 -->
		<h2 class="page-header">图片缩略图效果</h2>
		<div class="row">
			<div class="col-md-4">
				<a href="" class="thumbnail"><img src="__STATIC__/img/wency.jpg"></a><div class="caption"><h4>标题</h4></div>
			</div>
			<div class="col-md-4">
				<a href="" class="thumbnail"><img src="__STATIC__/img/wency.jpg"></a><div class="caption"><h4>标题</h4></div>
			</div>
			<div class="col-md-4">
				<a href="" class="thumbnail"><img src="__STATIC__/img/wency.jpg"></a><div class="caption"><h4>标题</h4></div>
			</div>
			<div class="col-md-4">
				<a href="" class="thumbnail"><img src="__STATIC__/img/wency.jpg"></a><div class="caption"><h4>标题</h4></div>
			</div>
			<div class="col-md-4">
				<a href="" class="thumbnail"><img src="__STATIC__/img/wency.jpg"></a><div class="caption"><h4>标题</h4></div>
			</div>
			<div class="col-md-4">
				<a href="" class="thumbnail"><img src="__STATIC__/img/wency.jpg"></a><div class="caption"><h4>标题</h4></div>
			</div>
		</div>
		<!-- 分页效果 -->
		<h2 class="page-header">分页效果</h2>
		<div class="text-center" >
			<ul class="pagination pagination-lg">
				<li><a href="">&laquo;</a></li>
				<li class="active"><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
				<li><a href="">6</a></li>
				<li><a href="">7</a></li>
				<li><a href="">8</a></li>
				<li><a href="">9</a></li>
				<li><a href="">10</a></li>
				<li><a href="">&raquo;</a></li>
			</ul>
		</div>
		<!-- 路径导航效果 -->
		<h2 class="page-header">路径导航效果</h2>
		<ol class="breadcrumb">
			<li><a href="">PHP首页</a></li>
			<li><a href="">PHP视频</a></li>
			<li><a href="">PHP就业</a></li>
			<li class="active">MVC</li>
		</ol>
		<ol class="breadcrumb">
		  <li><a href="#">Home</a></li>
		  <li><a href="#">Library</a></li>
		  <li class="active"><a href="">Data</a></li>
		</ol>
		<!-- 选项卡效果 -->
		<h2 class="page-header">选项卡效果</h2>
		<ul class="nav nav-tabs">
			<li class="active"><a href="">Home</a></li>
			<li><a href="">Admin</a></li>
			<li><a href="">Message</a></li>
		</ul>
		<br>
		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="">Home</a></li>
			<li><a href="">Admin</a></li>
			<li><a href="">Message</a></li>
		</ul>
		<!-- 输入框组 -->
		<h2 class="page-header">输入框组</h2>
		<div class="input-group">
		<span class="input-group-addon">$</span>
		<input type="text" class="form-control" placeholder="输入网址">
		<span class="input-group-addon">.00</span>
		</div>
	</div>
</body>
</html>