<!DOCTYPE html>
<html>
<head>
	<title>form</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
	<style type="text/css">
		.padding{
			padding-top:  10px;
			padding-left:   10px;
		}
	</style>
	<script  src="__STATIC__/bootstrap/js/jquery-3.3.1.js"></script>
	<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="padding: 50px;background-color: #ccc;">
	<div class="container" style="padding: 50px;background-color: #fff;">
		<!-- 按钮式的下拉菜单 -->
		<h2 class="page-header">按钮式的下拉菜单</h2>
		<div class="btn-group ">
			<button type="button" class="btn btn-default" >PHP应用</button>
			 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ><span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="">HTML</a></li>
				<li><a href="">CSS</a></li>
				<li><a href="">JavaScript</a></li>
				<li class="divider"></li>
				<li><a href="">PHP</a></li>
				<li><a href="">PHP</a></li>
				<li><a href="">PHP</a></li>
			</ul>
		</div>
		
		
		<!-- 按钮组的应用 -->
		<h2 class="page-header">按钮组的应用</h2>
		<div class="btn-toolbar">
		<div class="btn-group  btn-group-vertical">
			<button type="button" class="btn btn-primary btn-lg">Left</button>
			<button type="button" class="btn btn-primary btn-lg">Center</button>
			<button type="button" class="btn btn-primary btn-lg">Right</button>
		</div>
		<div class="btn-group ">
			<button type="button" class="btn btn-success btn-sm">asd</button>
			<button type="button" class="btn btn-success btn-sm">asd</button>
			<button type="button" class="btn btn-success btn-sm">asd</button>
		</div>
		<div class="btn-group ">
			<button type="button" class="btn btn-info btn-xs">1</button>
			<button type="button" class="btn btn-info btn-xs">2</button>
			<button type="button" class="btn btn-info btn-xs">3</button>
		</div>
		</div>
		<!-- 下拉菜单的应用 -->
		<h2 class="page-header">下拉菜单的应用</h2>
		<div class="dropdown">
			<button type="button" class="btn btn-default" data-toggle="dropdown">PHP应用<span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="">HTML</a></li>
				<li><a href="">CSS</a></li>
				<li><a href="">JavaScript</a></li>
				<li class="divider"></li>
				<li><a href="">PHP</a></li>
				<li><a href="">PHP</a></li>
				<li><a href="">PHP</a></li>
			</ul>
		</div>
		<!-- 辅助类样式 -->
		<h2 class="page-header">浮动和清除的应用</h2>
		<div class="clearfix bg-success" style="width:800px;border: 1px solid red;">
			<ul class="list-unstyled ">
				<li class="pull-left padding">
					<a href=""><img src="__STATIC__/img/wency.jpg"></a><br>
					<a href="">图片样式应用</a>
				</li>
				<li class="pull-left padding">
					<a href=""><img src="__STATIC__/img/wency.jpg"></a><br>
					<a href="">图片样式应用</a>
				</li>
				<li class="pull-left padding">
					<a href=""><img src="__STATIC__/img/wency.jpg"></a><br>
					<a href="">图片样式应用</a>
				</li>
				<li class="pull-left padding">
					<a href=""><img src="__STATIC__/img/wency.jpg"></a><br>
					<a href="">图片样式应用</a>
				</li>
			</ul>
		</div>
		<!-- 图片样式应用 -->
		<div class="">
			<h2 class="page-header">图片样式应用</h2>
			<img src="__STATIC__/img/aaa.jpeg" width="400px" class="img-responsive img-thumbnail center-block">
			<p class="text-success">2018年3月14日，英国著名物理学家史蒂芬·霍金去世，享年76岁。《万物理论》是环球影业出品的霍金青年时代的传记片，影片灵感源于简·王尔德的回忆录《飞向无限:和霍金在一起的日子》，讲述了知名物理学家史蒂芬·霍金和他的第一任妻子简·王尔德始于剑桥大学的爱情故事及霍金患病前后的励志传奇。这是百度百科对这部影片的介绍。
			</p>
		</div>
	</div>
</body>
</html>