<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap基础入门</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
	<script  src="__STATIC__/bootstrap/js/jquery-3.3.1.js"></script>
	<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="padding: 50px;background-color: #ccc;">
<div class="container" style="padding: 50px;background-color: #fff;">
	<h1 class="text-center">中科国信收购华信创智 进军军用设备无人化领域</h1>
	<font>科国 <em>信发</em> 布</font><font>国信发 <strong>公告称</strong> 布公告称，公 <del>司拟收</del> </font>
	<ul class="list-unstyled list-inline">
		<li>sdfghjk</li>
		<li>nm,ghjkl</li>
		<li>asdfghjk</li>
	</ul>
	<div class="table-responsive">
	<table class="table table-striped  table-hover" >
		<tr>
			<td>中科国信收</td>
			<td>中科国信收</td>
			<td>中科国信收</td>
			<td>中科国信收</td>
		</tr>
		<tr>
			<td>abcd</td>
			<td>abcd</td>
			<td>abcd</td>
			<td>abcd</td>
		</tr>
		<tr>
			<td>abcd</td>
			<td>abcd</td>
			<td>abcd</td>
			<td>abcd</td>
		</tr>
		<tr>
			<td>abcd</td>
			<td>abcd</td>
			<td>abcd</td>
			<td>abcd</td>
		</tr>
	</table>
	</div>
</div>
</body>
</html>