<!DOCTYPE html>
<html>
<head>
	<title>form</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
	<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="padding: 50px;background-color: #ccc;">
	<div class="container" style="padding: 50px;background-color: #fff;">
		<div class="row">
			<div class="col-lg-2" style="border: 1px solid red;">中国证券网讯 3月14日，新三板公司中科国信发布公告称，公司拟收购北京华信创智科技有限公司（下称 “华信创智”）45%股权，标的公司100%股权总估值暂定为1亿元至1.5亿元。转让标的为华信创智股东合法拥有的华信创智45%股权，本协议签署订金1500万元。</div>
			<div class="col-lg-8 col-lg-offset-1" style="border: 1px solid red;">
				<div class="row" style="border: 1px solid red;">sdfgj</div>
				<div class="row">
					<div class="col-lg-6" style="border: 1px solid red;">
					定为1亿元至1</div>
					<div class="col-lg-6" style="border: 1px solid red;">
					定为1亿元至1</div>
				</div>
			</div>
			
		</div>
	</div>
</body>
	<script  src="__STATIC__/bootstrap/js/jquery-3.3.1.js"></script>
	<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
</html>